doctype html
html(lang='ru')
	head

		include inc/vars.pug

		title #{TITLE_FULL}
		meta(charset='utf-8')

		meta(name='description' content=`${DESCRIPTION}`)

		each og in [{ what: 'locale', content: 'ru_RU' }, { what: 'type', content: 'website' }, { what: 'image', content: `${PATHS.img}/share.png?v=${_V}` }]
			meta(property=`og:${og.what}` content=`${og.content}`)

		each og in [{ what: 'card', content: 'summary_large_image' }, { what: 'title', content: `${TITLE_FULL}` }, { what: 'description', content: `${DESCRIPTION}` }, { what: 'image', content: `${PATHS.img}/share.png?v=${_V}` }]
			meta(name=`twitter:${og.what}` content=`${og.content}`)

		link(rel='shortcut icon' href=`${PATHS.img}/vc-favicon.ico?v=${_V}`)

		meta(name='apple-itunes-app' content='app-id=920638420, app-argument=vcru://index')

		each platform in ['theme-color', 'msapplication-navbutton-color', 'apple-mobile-web-app-status-bar-style']
			meta(name=`${platform}` content='#FEEBEF')

		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

		link(rel='stylesheet' href=`${FONT_URL}`)

		each CSS in ['power', 'quiz']
			link(rel='stylesheet' href=`${PATHS.css}/${CSS}.min.css?v=${_V}`)

		noscript
			style .screen-loading .loading-text { display: none }

	body

		div.content.content__quiz

			main.main

				div.screen.screen-loading(data-current)
					p.loading-text Загрузка теста...

					noscript
						p В вашем браузере не включен JavaScript :(
						p Включите его для прохождения теста, пожалуйсто!!!1

				div.screen.screen-start
					div.background

					div.start
						div.start__badge Тест

						h2.start__title #{TITLE}

						p.start__text #{DESCRIPTION}

						p.start__btn.bottom-btn #[button(data-action='start-quiz') Начать]

				div.screen.screen-quiz

				div.screen.screen-final

		//- Если кэшировать через <link rel='preload'>, то браузер ругается в консоль, что картинки не используются сразу
		div.cache
			each image in ['footballer', 'tyan', 'hand', 'ded', 'ded-suffering', 'panfilov']
				img(src=`${PATHS.img}/screen_final/${image}.png?v=${_V}` alt='cached image')

		include inc/question-template.pug

		include inc/final-template.pug

		each JS in ['vendors/kamina', 'vendors/ResizeSensor', 'vendors/ElementQueries', 'vendors/likely']
			script(src=`${PATHS.js}/${JS}.min.js?v=${_V}` defer)

		script(src=`${PATHS.js}/engine.min.js?v=${_V}` type='module' defer)
