doctype html
html(lang='ru')
	head

		include inc/vars.pug

		title Тест: #{TITLE} — Промо на vc.ru
		meta(charset='utf-8')

		meta(name='description' content=`${DESCRIPTION}`)

		each og in [{ what: 'locale', content: 'ru_RU' }, { what: 'type', content: 'website' }, { what: 'image', content: `${PATHS.img}/share.png?v=${_V}` }]
			meta(property=`og:${og.what}` content=`${og.content}`)

		each og in [{ what: 'card', content: 'summary_large_image' }, { what: 'title', content: `Тест: ${TITLE} — Промо на vc.ru` }, { what: 'description', content: `${DESCRIPTION}` }, { what: 'image', content: `${PATHS.img}/share.png?v=${VERSION}` }]
			meta(name=`twitter:${og.what}` content=`${og.content}`)

		link(rel="shortcut icon" href=`${PATHS.img}/vc-favicon.ico?v=${_V}`)

		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic')

		each CSS in ['power', 'header']
			link(rel='stylesheet' href=`${PATHS.css}/${CSS}.min.css?v=${_V}`)

	body

		div.content.content__index

			include inc/header.pug

			main.main

				iframe(src='./test-frame.html')

		each JS in ['vendors/kamina.min', 'index.min']
			script(src=`${PATHS.js}/${JS}.js?v=${_V}` defer)
