doctype html
html(lang='ru')
	head

		include inc/vars.pug

		title Тест: #{TITLE}
		meta(charset='utf-8')

		meta(name='robots' content='noindex, nofollow')

		link(rel='shortcut icon' href=`${PATHS.img}/vc-favicon.ico?v=${_V}`)

		link(rel='stylesheet' href=`${FONT_URL}`)

		each CSS in ['power', 'test']
			link(rel='stylesheet' href=`${PATHS.css}/${CSS}.min.css?v=${_V}`)

		noscript
			style .screen.screen-nojs { display: flex }

	body

		div.content.content__test

			main.main

				div.screen.screen-nojs(data-current)
					p У вас не включен JavaScript в браузере :(
					p Включите его для прохождения теста, пожалуйсто!!!1

				div.screen.screen-start
					div.background

					div.start
						div.start__badge Тест

						h2.start__title #{TITLE}

						p.start__text #{DESCRIPTION}

						p.start__btn.bottom-btn #[button(data-action='start-test') Начать]

				div.screen.screen-test
					p Тут пока ничего нет.............................

				div.screen.screen-final

		include inc/question-template.pug

		include inc/final-template.pug

		each JS in ['vendors/kamina.min', 'vendors/likely']
			script(src=`${PATHS.js}/${JS}.js?v=${_V}` defer)

		script(src=`${PATHS.js}/engine.min.js?v=${_V}` type='module' defer)
